body {
  margin: 0;
  font-family: sans-serif;
}

.main-content {
  margin-left: 250px;
  min-height: 100vh;
  position: relative;
  padding: 2rem;
  overflow: auto;
  color: #fff;

  background-color: rgba(0, 0, 0, 0.4);      /* fundo escuro semi-transparente */
  backdrop-filter: blur(12px);              /* desfoca o fundo */
  -webkit-backdrop-filter: blur(12px);      /* suporte Safari */
  border-radius: 12px;                      /* cantos arredondados */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);/* leve sombra */
}



.main-content > * {
  position: relative;
  z-index: 1;
}
.main-layout {
  min-height: 100vh;
  background-color: #f0f0f0;
}

